.dashboard{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: azure;
    font-weight: bolder;
    a{
        padding-top: 15px;
        color: black;
    }
    .borderLess{
        border: none;
        cursor: pointer;
        background: none;
        font-weight: 600;
        color: gray;
    }
}
table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
}

th, td {
    padding: 10px;
    text-align: left;
}
.add-new-employee{
    display: flex;
    justify-content: center;
    flex-direction: column;
    label {
        margin-bottom: 8px;
        font-weight: 500;
      }
      input {
        padding: 8px;
        width: 100%;
        box-sizing: border-box;
        margin-top: 5px;
      }
}
.emp-data-container{
    display: flex;
    justify-content: space-evenly;
    margin-top: 30px;
    margin-bottom: 30px;
}
.add-new-emp-container {
    display: flex;
    justify-content: center;    
  }
.sections{
    text-align: center;
    font-weight: bold;
    margin-top: 30px;
    margin-bottom: 30px;
}
